<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, style: 'font-size: 64px; color: #555; width: 500px; font-family: \'Goudy Bookletter 1911\', serif;' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, style: 'font-size: 16px; width:500px; height:40px' %>
  </div>
  <div class="actions">
    <% if f.object.new_record? %>
      <%= f.submit class: 'cta cta-green' %>
    <% else %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
