<%= auto_discovery_link_tag :rss, feed_url(@feed, format: :rss), title: @feed.title %>
<%= auto_discovery_link_tag :rss, feed_notifications_url(@feed, format: :rss), title: 'Notifications' %>

<p id="notice"><%= notice %></p>

<h1><%= @feed.title %></h1>

<p>
  <%= @feed.description %> (<%= link_to 'edit feed', edit_feed_path(@feed) %>)
</p>

<p>
  <%= link_to '+ Add Item', new_feed_item_path(@feed) %>
</p>

<ul>
  <% @feed.items.each do |item| %>
    <li>
      <h3><%= link_to item.title, feed_item_url(@feed, item) %> <span><%= read_status(item) %></span></h3>
      Link: <%= link_to item.link, feed_item_url(@feed, item) %>
      <p><%= sanitize(item.description) %></p>
      <p>
        <%= link_to 'Edit', edit_feed_item_path(item.feed, item) %>
      </p>
    </li>
  <% end %>
</ul>
