<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Link:</b>
  <%= @item.link %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>


<%= link_to 'Edit', edit_feed_item_path(@item.feed, @item) %> |
<%= link_to 'Back', @item.feed %>
