<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= sanitize(@item.title) %>
</p>

<p>
  <b>Link:</b>
  <%= link_to @item.link, feed_item_url(@item.feed, @item) %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize(@item.description) %>
</p>


<%= link_to 'Edit', edit_feed_item_path(@item.feed, @item) %> |
<%= link_to 'Back', @item.feed %>