<!DOCTYPE html>
<html>
  <head>
    <title>Heedfeed</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1 id="heedfeed"><%= link_to "# HeedFeed <span>feeds for friends.</span>".html_safe, root_url %></h1>
    <%= yield %>
  </body>
</html>